<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ysusoftedu.dao.YsUserMapper" >
  <resultMap id="BaseResultMap" type="com.ysusoftedu.pojo.YsUser" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="userno" property="userno" jdbcType="VARCHAR" />
    <result column="userpass" property="userpass" jdbcType="VARCHAR" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="regdate" property="regdate" jdbcType="TIMESTAMP" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="mobi" property="mobi" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="gid" property="gid" jdbcType="INTEGER" />
    <result column="logintimes" property="logintimes" jdbcType="INTEGER" />
    <result column="lastlogin" property="lastlogin" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_id, userno, userpass, photo, status, regdate, realname, email, mobi, remark, 
    gid, logintimes, lastlogin
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ysusoftedu.pojo.YsUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ys_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ys_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ys_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ysusoftedu.pojo.YsUserExample" >
    delete from ys_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ysusoftedu.pojo.YsUser" >
    insert into ys_user (user_id, userno, userpass, 
      photo, status, regdate, 
      realname, email, mobi, 
      remark, gid, logintimes, 
      lastlogin)
    values (#{userId,jdbcType=INTEGER}, #{userno,jdbcType=VARCHAR}, #{userpass,jdbcType=VARCHAR}, 
      #{photo,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{regdate,jdbcType=TIMESTAMP}, 
      #{realname,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{mobi,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{gid,jdbcType=INTEGER}, #{logintimes,jdbcType=INTEGER}, 
      #{lastlogin,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ysusoftedu.pojo.YsUser" >
    insert into ys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userno != null" >
        userno,
      </if>
      <if test="userpass != null" >
        userpass,
      </if>
      <if test="photo != null" >
        photo,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="regdate != null" >
        regdate,
      </if>
      <if test="realname != null" >
        realname,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="mobi != null" >
        mobi,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="gid != null" >
        gid,
      </if>
      <if test="logintimes != null" >
        logintimes,
      </if>
      <if test="lastlogin != null" >
        lastlogin,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userno != null" >
        #{userno,jdbcType=VARCHAR},
      </if>
      <if test="userpass != null" >
        #{userpass,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="regdate != null" >
        #{regdate,jdbcType=TIMESTAMP},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobi != null" >
        #{mobi,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gid != null" >
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="logintimes != null" >
        #{logintimes,jdbcType=INTEGER},
      </if>
      <if test="lastlogin != null" >
        #{lastlogin,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ysusoftedu.pojo.YsUserExample" resultType="java.lang.Integer" >
    select count(*) from ys_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ys_user
    <set >
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.userno != null" >
        userno = #{record.userno,jdbcType=VARCHAR},
      </if>
      <if test="record.userpass != null" >
        userpass = #{record.userpass,jdbcType=VARCHAR},
      </if>
      <if test="record.photo != null" >
        photo = #{record.photo,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.regdate != null" >
        regdate = #{record.regdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.realname != null" >
        realname = #{record.realname,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.mobi != null" >
        mobi = #{record.mobi,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.gid != null" >
        gid = #{record.gid,jdbcType=INTEGER},
      </if>
      <if test="record.logintimes != null" >
        logintimes = #{record.logintimes,jdbcType=INTEGER},
      </if>
      <if test="record.lastlogin != null" >
        lastlogin = #{record.lastlogin,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ys_user
    set user_id = #{record.userId,jdbcType=INTEGER},
      userno = #{record.userno,jdbcType=VARCHAR},
      userpass = #{record.userpass,jdbcType=VARCHAR},
      photo = #{record.photo,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      regdate = #{record.regdate,jdbcType=TIMESTAMP},
      realname = #{record.realname,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      mobi = #{record.mobi,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      gid = #{record.gid,jdbcType=INTEGER},
      logintimes = #{record.logintimes,jdbcType=INTEGER},
      lastlogin = #{record.lastlogin,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ysusoftedu.pojo.YsUser" >
    update ys_user
    <set >
      <if test="userno != null" >
        userno = #{userno,jdbcType=VARCHAR},
      </if>
      <if test="userpass != null" >
        userpass = #{userpass,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="regdate != null" >
        regdate = #{regdate,jdbcType=TIMESTAMP},
      </if>
      <if test="realname != null" >
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobi != null" >
        mobi = #{mobi,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gid != null" >
        gid = #{gid,jdbcType=INTEGER},
      </if>
      <if test="logintimes != null" >
        logintimes = #{logintimes,jdbcType=INTEGER},
      </if>
      <if test="lastlogin != null" >
        lastlogin = #{lastlogin,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ysusoftedu.pojo.YsUser" >
    update ys_user
    set userno = #{userno,jdbcType=VARCHAR},
      userpass = #{userpass,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      regdate = #{regdate,jdbcType=TIMESTAMP},
      realname = #{realname,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      mobi = #{mobi,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      gid = #{gid,jdbcType=INTEGER},
      logintimes = #{logintimes,jdbcType=INTEGER},
      lastlogin = #{lastlogin,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>